from time import * #on importe la fonction time
from tkinter import *
import datetime





def update(): # Création d'une fonction qui va mettre à jour l'heure de l'horloge
    global time1
    today = datetime.datetime.now() #datetime représente des dates et des heures en UTC
    todayPlus3Hours = today + datetime.timedelta(hours=3)
    print(todayPlus3Hours)
    print(todayPlus3Hours.hour)


    print(todayPlus3Hours.minute)
    
    print(todayPlus3Hours.second)
    now =today + datetime.timedelta(hours=3) #ici on veut un décalage de +3heures par rapport à l'heure locale actuelle d'aujourd'hui
    heure.config(text=now)
    sleep(0.6)
    
    heure.after(200,update)
    return

def update2(): # Création d'une fonction qui va mettre à jour l'heure de l'horloge
    global time1
    now = strftime("%Y-%m-%d %H:%M:%S")
    heure2.config(text=now)
    sleep(0.6)
    heure2.after(200,update2)
    
    return    


fen1= Tk() # création de la fenêtre principale où se situera des widgets
fen1.title("Horloge du monde")
time1 = ''
tex1 = Label(fen1, text='horloge mondiale!', fg='purple') #Les labels sont des espaces prévus pour écrire du texte
tex1.pack()
bou1 = Button(fen1, text="afficher  décalée", fg='purple',command = update) # widget bouton 1 , action de la fonction update2 
heure = Label(fen1, font=('time', 20, 'bold'), bg='pink')
heure.pack(fill=BOTH, expand=1)
bou1.pack()
bou2 = Button(fen1, text="Afficher l'heure locale",fg='purple', command =update2) #widget bouton 2, action de la fonction update1
heure2 = Label(fen1, font=('time', 20, 'bold'), bg='pink')
heure2.pack(fill=BOTH, expand=1)
bou2.pack()
bou3 = Button(fen1,text="Quitter", command = fen1.destroy) #widget bouton 3, pour quitter "horloge du monde"
bou3.pack()
fen1.mainloop()

# Démarrage de la boucle Tkinter qui s'interompt quand on ferme la fenêtre


